*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // ::-webkit-scrollbar {
    //     display: none; 
    // }
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    @media screen and (max-width: 800px){
        padding: 10px;   
    }
}

a{
    text-decoration: none;
    color: black;
}


