.sign-in{
    display: flex;
    max-width: 480px;
    flex-direction: column;

    .title{
        margin: 10px 0;
    }
    .buttons{
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    .password-field{
        position: relative;
    
        .toggle-password{
          position: absolute;
          cursor: pointer;
          top: 0;
          right: 0;
        }
      }
}